.signup-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 50px;
  }
signup-form .form-group {
    margin-bottom:10px;
  }
.signup-form{ 
    text-align:center;
    margin-top:5rem;
}
.signup-form  .btn.btn-primary {
    background: #42D9C8 none repeat scroll 0 0;
    border-color: #42D9C8;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.signup-form .btn.btn-primary.reset {
    background: #42D9C8 none repeat scroll 0 0;
}
.signup-form .card{
    width:35rem;
}
.signup-form h1{
    font-weight:bold;
    font-size:22pt;
    color:#42D9C8;
}
