.title{
    border-bottom: 2px solid #42D9C8;
}
.title h1{
    text-align:left;
    font-weight:bold;
    font-size:19pt;
    color:#42D9C8;
}
.createPost .card{
    margin-top:1rem;
    border: 4px solid #42D9C8;
}

.createPost textarea{
    resize: none;
}
.createPost button{
    text-align: left;
}